@model MVC.Models.SignatureInfoModel
@{
	ViewBag.Title = "CAdES Element Signature";
}

<h2>CAdES Signature</h2>

<p>File signed successfully! <a href="/Download/File/@Model.File">Click here to download the signed file</a></p>


