@model MVC.Models.SignatureCompleteModel
@{
	ViewBag.Title = "Xml Element Signature";
}

<h2>XML Element Signature</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signForm", role = "form" })) {
	@Html.Partial("SignatureComplete2", Model)
}

@section Scripts {
	<script>
		$(document).ready(function () {
			signatureCompleteForm.init($('#signForm'));
		});
	</script>
}
