@model MVC.Models.SignatureStartModel
@{
	ViewBag.Title = "Xml Element Signature";
}

<h2>XML Element Signature</h2>
<p>You are signing the <i>infNFe</i> node of <a href='/Download/SampleNFe'>this sample XML</a>.</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signForm", role = "form" })) {
	@Html.Partial("SignatureStart", Model)
}

@section Scripts {
	<script>
		$(document).ready(function () {
			signatureStartForm.init($('#signForm'));
		});
	</script>
}
