@model MVC.Models.SignatureStartModel
@{
	ViewBag.Title = "Xml Element Signature";
}

<h2>XML Element Signature</h2>
<p>You are signing the <i>infNFe</i> node of <a href='/Download/SampleNFe'>this sample XML</a>.</p>

@Html.Partial("SignatureStart", Model)
