@model MVC.Models.SignatureInfoModel
@{
	ViewBag.Title = "XML element signature";
}

<h2>XML element signature</h2>

<p>File signed successfully!</p>
<p>
	<a href="/Download/File/@Model.File" class="btn btn-default">Download signed file</a>
	<a href="/ValidateSignature/Xml/@Model.File" class="btn btn-default">Validate signature</a>
</p>
