@model MVC.Models.SignatureInfoModel
@{
	ViewBag.Title = "Xml Element Signature";
}

<h2>XML Signature</h2>

<p>File signed successfully! <a href="/Download/File/@Model.File">Click here to download the signed file</a></p>


