@model MVC.Models.SignatureStartModel

@Html.ValidationSummary("", new { @class = "text-danger" })

@* Hidden fields used to pass data from the action to the "signature form" javascript (see below) and vice-versa *@
@Html.HiddenFor(m => m.CertThumb)
@Html.HiddenFor(m => m.CertContent)
	
<div class="form-group">
	<label for="certificateSelect">Choose a certificate</label>
	<select id="certificateSelect" class="form-control"></select>
</div>

<button id="signButton" type="button" class="btn btn-primary" data-role="sign">Sign File</button>
<button id="refreshButton" type="button" class="btn btn-default" data-role="refresh">Refresh Certificates</button>
