@page "/"

<PageTitle>Index</PageTitle>

<h1>Amplia</h1>

<h3>Exemplo de emissão de certificados</h3>

<h3 style="margin-top:350px">Mais informações <a href="https://www.lacunasoftware.com"> Lacuna Software</a></h3>

