<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="true">
			<target name="log" xsi:type="File" fileName="${specialfolder:folder=LocalApplicationData}\Lacuna Software\PkiSdkWpfSamples.log" layout="${longdate} ${level}: ${message}${onexception:${newline}${exception:format=tostring}}" />
		</targets>
		<rules>
			<logger name="*" writeTo="log" minlevel="Info" />
		</rules>
	</nlog>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Lacuna.Pki" publicKeyToken="d63b3e133e6d3c7d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.20.9.0" newVersion="1.20.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
